<a href="https://colab.research.google.com/github/BharatXBhalla/Udemy-Deep-Learning-A-Z/blob/main/Ann/01_Ann_Improved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.7.0'

In [43]:
df = pd.read_csv("Churn_Modelling.csv").iloc[:,3:]

In [8]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [44]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [11]:
X.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [12]:
Y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [45]:
X=pd.get_dummies(data=X,columns=["Geography","Gender"],drop_first=True)

In [24]:
X.head()

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0
1          608   41       1  ...                  0                1            0
2          502   42       8  ...                  0                0            0
3          699   39       1  ...                  0                0            0
4          850   43       2  ...                  0                1            0

[5 rows x 11 columns]

In [25]:
from sklearn.preprocessing import StandardScaler

In [46]:
sf = StandardScaler()
X=sf.fit_transform(X)

         0         1         2   ...        8         9         10
0 -0.326221  0.293517 -1.041760  ... -0.578736 -0.573809 -1.095988
1 -0.440036  0.198164 -1.387538  ... -0.578736  1.742740 -1.095988
2 -1.536794  0.293517  1.032908  ... -0.578736 -0.573809 -1.095988
3  0.501521  0.007457 -1.387538  ... -0.578736 -0.573809 -1.095988
4  2.063884  0.388871 -1.041760  ... -0.578736  1.742740 -1.095988

[5 rows x 11 columns]

In [31]:
from sklearn.model_selection import train_test_split

In [53]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,train_size=0.8,random_state=42)

### Building ANN

In [99]:
ann = tf.keras.models.Sequential()

In [100]:
ann.add(tf.keras.layers.Dense(units=X.shape[1], activation = "relu")) #input layer

In [101]:
ann.add(tf.keras.layers.Dense(units=100, activation = "relu")) #Hidden Layer

In [102]:
ann.add(tf.keras.layers.Dense(units=32, activation = "relu")) #Hidden Layer

In [103]:
ann.add(tf.keras.layers.Dense(units=1, activation = "sigmoid")) #output Layer

## Training ANN

In [104]:
ann.compile(optimizer="adam" , loss ="binary_crossentropy",metrics = ['accuracy'])

In [105]:
ann.fit(X_train,Y_train , batch_size = 32,epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4724 - accuracy: 0.7960
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4314 - accuracy: 0.8127
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4103 - accuracy: 0.8266
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3857 - accuracy: 0.8393
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3625 - accuracy: 0.8506
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8565
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8566
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8601
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8602
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8614
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8622
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8602
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3306 - accuracy: 0.8652
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3278 - accuracy: 0.8644
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3270 - accuracy: 0.8636
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3250 - accuracy: 0.8650
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3235 - accuracy: 0.8670
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3226 - accuracy: 0.8679
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3211 - accuracy: 0.8662
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3189 - accuracy: 0.8668
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3193 - accuracy: 0.8668
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3166 - accuracy: 0.8692
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3162 - accuracy: 0.8706
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3155 - accuracy: 0.8698
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3147 - accuracy: 0.8677
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3136 - accuracy: 0.8695
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3112 - accuracy: 0.8689
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3106 - accuracy: 0.8705
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3102 - accuracy: 0.8711
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3094 - accuracy: 0.8705
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3077 - accuracy: 0.8721
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3080 - accuracy: 0.8717
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3063 - accuracy: 0.8731
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3047 - accuracy: 0.8720
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3044 - accuracy: 0.8730
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3040 - accuracy: 0.8751
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3013 - accuracy: 0.8760
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3016 - accuracy: 0.8737
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2990 - accuracy: 0.8758
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2984 - accuracy: 0.8739
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2991 - accuracy: 0.8746
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2980 - accuracy: 0.8763
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2972 - accuracy: 0.8777
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2960 - accuracy: 0.8766
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2950 - accuracy: 0.8790
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2941 - accuracy: 0.8798
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2935 - accuracy: 0.8777
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2921 - accuracy: 0.8774
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2896 - accuracy: 0.8759
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2896 - accuracy: 0.8783
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2888 - accuracy: 0.8790
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2886 - accuracy: 0.8794
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2890 - accuracy: 0.8799
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2875 - accuracy: 0.8773
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2856 - accuracy: 0.8817
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2876 - accuracy: 0.8771
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2835 - accuracy: 0.8808
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2838 - accuracy: 0.8816
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2830 - accuracy: 0.8836
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2821 - accuracy: 0.8829
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2825 - accuracy: 0.8802
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2806 - accuracy: 0.8810
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2796 - accuracy: 0.8817
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2781 - accuracy: 0.8826
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2799 - accuracy: 0.8805
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2766 - accuracy: 0.8857
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2772 - accuracy: 0.8825
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2760 - accuracy: 0.8830
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2734 - accuracy: 0.8873
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2718 - accuracy: 0.8867
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2738 - accuracy: 0.8861
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2732 - accuracy: 0.8840
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2706 - accuracy: 0.8874
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2706 - accuracy: 0.8874
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2706 - accuracy: 0.8881
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2693 - accuracy: 0.8864
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2681 - accuracy: 0.8869
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2681 - accuracy: 0.8879
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2676 - accuracy: 0.8903
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2642 - accuracy: 0.8899
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2656 - accuracy: 0.8896
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2648 - accuracy: 0.8904
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2626 - accuracy: 0.8905
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2632 - accuracy: 0.8919
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2627 - accuracy: 0.8913
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2626 - accuracy: 0.8910
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2613 - accuracy: 0.8911
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2622 - accuracy: 0.8913
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2585 - accuracy: 0.8935
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2574 - accuracy: 0.8921
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2578 - accuracy: 0.8940
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2555 - accuracy: 0.8945
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2571 - accuracy: 0.8935
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2546 - accuracy: 0.8955
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2524 - accuracy: 0.8957
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2534 - accuracy: 0.8956
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2533 - accuracy: 0.8947
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2527 - accuracy: 0.8949
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2511 - accuracy: 0.8951
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2487 - accuracy: 0.8980

## Evaluting Model

In [106]:
ann.predict(sf.transform([[600,40,3,60000,2,1,1,50000,0,0,1]]))>0.5

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

array([[False]])

In [107]:
y_pred = ann.predict(X_test)

In [108]:
y_pred=y_pred>0.5

In [109]:
Y_test

6252    0
4684    0
1731    0
4742    0
4521    0
       ..
6412    1
8285    0
7853    1
1095    1
6929    1
Name: Exited, Length: 2000, dtype: int64

In [110]:
y_pred=y_pred.ravel()

In [111]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test,y_pred)

In [112]:
cm

array([[1487,  120],
       [ 189,  204]])

In [113]:
accuracy_score(Y_test,y_pred)

0.8455

In [115]:
from sklearn.metrics import classification_report

In [117]:
print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.93      0.91      1607
           1       0.63      0.52      0.57       393

    accuracy                           0.85      2000
   macro avg       0.76      0.72      0.74      2000
weighted avg       0.84      0.85      0.84      2000