<a href="https://colab.research.google.com/github/BharatXBhalla/Udemy-Deep-Learning-A-Z/blob/main/Ann/01_Ann.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.7.0'

In [43]:
df = pd.read_csv("Churn_Modelling.csv").iloc[:,3:]

In [8]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [44]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [11]:
X.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [12]:
Y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [45]:
X=pd.get_dummies(data=X,columns=["Geography","Gender"],drop_first=True)

In [24]:
X.head()

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0
1          608   41       1  ...                  0                1            0
2          502   42       8  ...                  0                0            0
3          699   39       1  ...                  0                0            0
4          850   43       2  ...                  0                1            0

[5 rows x 11 columns]

In [25]:
from sklearn.preprocessing import StandardScaler

In [46]:
sf = StandardScaler()
X=sf.fit_transform(X)

         0         1         2   ...        8         9         10
0 -0.326221  0.293517 -1.041760  ... -0.578736 -0.573809 -1.095988
1 -0.440036  0.198164 -1.387538  ... -0.578736  1.742740 -1.095988
2 -1.536794  0.293517  1.032908  ... -0.578736 -0.573809 -1.095988
3  0.501521  0.007457 -1.387538  ... -0.578736 -0.573809 -1.095988
4  2.063884  0.388871 -1.041760  ... -0.578736  1.742740 -1.095988

[5 rows x 11 columns]

In [31]:
from sklearn.model_selection import train_test_split

In [53]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,train_size=0.8,random_state=42)

### Building ANN

In [86]:
ann = tf.keras.models.Sequential()

In [87]:
ann.add(tf.keras.layers.Dense(units=X.shape[1], activation = "relu")) #input layer

In [88]:
ann.add(tf.keras.layers.Dense(units=100, activation = "relu")) #Hidden Layer

In [89]:
ann.add(tf.keras.layers.Dense(units=1, activation = "sigmoid")) #output Layer

## Training ANN

In [90]:
ann.compile(optimizer="adam" , loss ="binary_crossentropy",metrics = ['accuracy'])

In [91]:
ann.fit(X_train,Y_train , batch_size = 32,epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4763 - accuracy: 0.7940
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4422 - accuracy: 0.8019
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4286 - accuracy: 0.8121
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4152 - accuracy: 0.8217
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3933 - accuracy: 0.8347
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3690 - accuracy: 0.8459
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3555 - accuracy: 0.8543
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8569
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3449 - accuracy: 0.8576
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8608
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8619
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8631
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8622
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8641
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8651
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8643
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3295 - accuracy: 0.8640
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3289 - accuracy: 0.8630
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3285 - accuracy: 0.8634
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3266 - accuracy: 0.8645
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3258 - accuracy: 0.8646
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3256 - accuracy: 0.8650
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3249 - accuracy: 0.8646
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3240 - accuracy: 0.8644
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3235 - accuracy: 0.8651
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3224 - accuracy: 0.8668
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3224 - accuracy: 0.8668
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3214 - accuracy: 0.8662
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3213 - accuracy: 0.8640
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3195 - accuracy: 0.8674
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3192 - accuracy: 0.8654
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3189 - accuracy: 0.8656
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3187 - accuracy: 0.8668
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3187 - accuracy: 0.8675
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3168 - accuracy: 0.8661
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3171 - accuracy: 0.8677
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3164 - accuracy: 0.8669
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3159 - accuracy: 0.8671
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3151 - accuracy: 0.8677
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3156 - accuracy: 0.8675
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3151 - accuracy: 0.8683
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3145 - accuracy: 0.8686
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3141 - accuracy: 0.8689
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3134 - accuracy: 0.8694
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3129 - accuracy: 0.8699
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3122 - accuracy: 0.8705
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3130 - accuracy: 0.8696
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3120 - accuracy: 0.8708
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3116 - accuracy: 0.8695
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3103 - accuracy: 0.8699
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3097 - accuracy: 0.8669
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3103 - accuracy: 0.8711
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3105 - accuracy: 0.8709
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3096 - accuracy: 0.8702
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3087 - accuracy: 0.8700
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3090 - accuracy: 0.8712
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3087 - accuracy: 0.8723
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3087 - accuracy: 0.8710
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3073 - accuracy: 0.8721
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3084 - accuracy: 0.8698
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3075 - accuracy: 0.8725
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3073 - accuracy: 0.8712
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3067 - accuracy: 0.8704
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3056 - accuracy: 0.8729
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3057 - accuracy: 0.8721
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3048 - accuracy: 0.8712
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3052 - accuracy: 0.8730
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3054 - accuracy: 0.8733
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3058 - accuracy: 0.8724
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3044 - accuracy: 0.8725
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3037 - accuracy: 0.8724
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3036 - accuracy: 0.8736
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3035 - accuracy: 0.8734
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3034 - accuracy: 0.8735
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3035 - accuracy: 0.8719
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3026 - accuracy: 0.8739
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3022 - accuracy: 0.8751
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3027 - accuracy: 0.8742
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3022 - accuracy: 0.8729
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3016 - accuracy: 0.8746
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3017 - accuracy: 0.8745
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3014 - accuracy: 0.8746
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3010 - accuracy: 0.8739
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3010 - accuracy: 0.8736
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3006 - accuracy: 0.8749
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3011 - accuracy: 0.8740
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2991 - accuracy: 0.8758
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3006 - accuracy: 0.8742
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2992 - accuracy: 0.8751
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2984 - accuracy: 0.8746
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2992 - accuracy: 0.8740
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2987 - accuracy: 0.8742
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2988 - accuracy: 0.8749
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2990 - accuracy: 0.8744
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2981 - accuracy: 0.8777
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2973 - accuracy: 0.8759
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2987 - accuracy: 0.8742
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2971 - accuracy: 0.8750
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2973 - accuracy: 0.8758
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2963 - accuracy: 0.8771

In [92]:
ann.predict(sf.transform([[600,40,3,60000,2,1,1,50000,0,0,1]]))>0.5

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

array([[False]])

In [93]:
y_pred = ann.predict(X_test)

In [94]:
y_pred=y_pred>0.5

In [75]:
Y_test

6252    0
4684    0
1731    0
4742    0
4521    0
       ..
6412    1
8285    0
7853    1
1095    1
6929    1
Name: Exited, Length: 2000, dtype: int64

In [95]:
y_pred=y_pred.ravel()

In [96]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test,y_pred)

In [97]:
cm

array([[1531,   76],
       [ 205,  188]])

In [98]:
accuracy_score(Y_test,y_pred)

0.8595